<div id="header">
			
	<!-- Inner -->
	<% if (current.source == 'index') { %>	
		<div class="inner">
			<header>
				<h1><a href="header" id="logo">GAMING</a></h1>
				<hr />
				<span class="byline">Le site de GAMING par excellence</span>
			</header>
 			<footer>
				<a href="#banner" class="button circled scrolly">Let's start</a>
			</footer>
		</div> 
	<% } %>	

	<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="/">Accueil</a></li>
				<li>
					<span>RPG</span>
					<ul>
						
																		<li><a href="Dofus">Dofus</a></li>
						
																		<li><a href="Dark Soul III">Dark Soul III</a></li>
						
						
					</ul>
				</li>
		
				
				<li>
					<span>Combat</span>
					<ul>
						
						<li><a href="Naruto Shippuden Storm 4">Naruto Shippuden Storm 4</a></li>
						<li><a href="League of Legend">League of Legend</a></li>
						
						<li><a href="Minecraft">Minecraft</a></li>
						
					</ul>
				</li>
			
									
						
																
												
						
					
		
				<li><a href="Mario">Mario</a></li>
			</ul>
		</nav>
</div>