<hr class="first" />
<section>
	<header>
		<h3><a href="/">Accueil</a></h3>
	</header>
	<p>
		Si vous voulez connaitre sur le monde des jeux-videos et leurs univers incroyable, il ne vous reste qu'une seule chose a faire : revenir a notre page d'acceuil en cliquant sur le boutton suivant.
	</p>
	<footer>
		<a href="/" class="button">Clique ICI</a>
	</footer>
</section>
