
<!-- Main -->
<div class="wrapper style1">

	<div class="container">
		<div class="row">
			<div class="4u" id="sidebar">
				<%- partial("_shared/sidebar") %>
			</div>
			<div class="8u skel-cell-mainContent" id="content">

				<article id="main">
					<header>
						<center><h2>Dark Soul III</h2></center>
					</header>
					
					<a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>

					<h3>Introduction</h3>
					<p>
								Dark Souls III est un jeu d'Action-RPG ? la troisi?me personne, apparent? au jeu pr?c?dent de la s?rie. Selon le directeur et cr?ateur de la la s?rie Hidetaka Miyazaki, la fa?on de jouer est ? similaire ? celle de Dark Souls II ?5. Les joueurs peuvent s'?quiper d'une grande vari?t? d'armes pour combattre leurs ennemis : des arcs, des explosifs tels que des bombes incendiaires, des ?p?es ? deux mains, une ?p?e dans chaque main, etc. Les boucliers peuvent ?galement ?tre utilis?s pour repousser les attaques ennemies et prot?ger le joueur6.
						
						
					</p>
					<section>
						<header>
							<h3>En general</h3>
						</header>
						<p>
				

Chaque attaque a deux styles diff?rents, l'un ?tant une attaque standard, l'autre ?tant une attaque l?g?rement plus puissante et pouvant ?tre ? charg?e ?, de fa?on similaire ? Bloodborne, le pr?c?dent jeu de From Software. Les attaques des adversaires peuvent ?galement ?tre ?vit?es par des roulades.

Les feux de camp font office de point de sauvegarde comme dans les ?ditions pr?c?dentes. Les cendres jouent un important r?le dans le jeu selon Miyazaki. La magie est pr?sente dans ce jeu avec un syst?me qui s'apparente ? celui de Demon's Souls, avec les ? focus points ?. Les joueurs consomment ces points en lan?ant des sortil?ges.

Au cours du jeu, les joueurs rencontrent diff?rent types d'ennemis, avec chacun un type de comportement diff?rent. Certains varient dans leur style au cours des combats. De nouveaux styles de combat sont introduits dans Dark Souls III, dont des comp?tences de maniement des armes et des boucliers, qui sont des comp?tences sp?cifiques ? chaque arme et qui permettent un type d'attaque unique qui co?te des focus points. Le jeu met davantage l'accent sur l'aspect jeu de r?le en d?veloppant la construction du personnage et en offrant au joueur davantage de choix tactiques.

						</p>
						
					</section>
					<section>
						<header>
							<h3>Lien:</h3><a href="http://darksouls3.wiki.fextralife.com/Dark+Souls+3+Wiki"  alt="" />Dark Soul III</a>
						</header>
						
					</section>
				</article>
			</div>
		</div>
		<hr />
		<div class="row">

		</div>
	</div>

</div>
