
<!-- Main -->
<div class="wrapper style1">

	<div class="container">
		<div class="row">
			<div class="4u" id="sidebar">
				<%- partial("_shared/sidebar") %>
			</div>
			<div class="8u skel-cell-mainContent" id="content">

				<article id="main">
					<header>
						<center><h2>Dofus</h2></center>
					</header>
					
					<a href="League of Legend" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
					<h3>Introduction</h3>
					<p>
						Dofus (prononc? dof?ss) est un jeu de r?le en ligne massivement multijoueur (MMORPG) d?velopp? et ?dit? par Ankama. Projet commenc? ? partir de 2001, sa toute premi?re version du jeu s'intitulait "Duel". De fil en aiguille les d?veloppeurs am?liorent le jeu, pour en arriver ? une phase de b?ta-test et en passant, changent le nom du jeu pour avoir ? la place DOFUS. Apr?s quelques mois de b?ta-test, Dofus sort le 1er septembre 2004 en France.
						
						
					</p>
					<section>
						<header>
							<h3>En general</h3>
						</header>
						<p>
							Le jeu se d?roule dans un monde m?di?val fantastique loufoque. Ce ne sont pas les monstres qui peuplent les donjons de la vaste contr?e d'Amakna (anagramme d'Ankama, l'entreprise qui a d?velopp? le jeu), des terres glac?es de Frigost, de la ? twopicale ? ?le des Wabbits ou de la Tourbi?re sans fond qui vous diront le contraire ! Au cours de cette ?pop?e fantastique, les aventuriers rencontrent ainsi des cr?atures ?tranges et mortelles, des alli?s fid?les et de fourbes ennemis, et pourront m?me participer ? la lutte farouche entre les diff?rentes alliance de guildes et les deux grandes factions du monde des Douze, Bonta et Br?kmar. Le jeu se place dans le Krosmoz qui regroupe les univers des jeux Dofus, Wakfu (qui se passe 300 ans apr?s Dofus), Arena, etc.



					Dofus est un jeu vid?o RPG, les joueurs incarnent un ou plusieurs personnages. On y retrouve une multitude d'armes et d'?quipements en tous genres, une vingtaine de m?tiers diff?rents et plusieurs centaines de monstres r?partis en diff?rentes zones sur les 10 000 cartes de jeu (portions de carte, sur lesquelles l'on se d?place d'ailleurs comme sur une carte) formant l'univers de Dofus, dont 95 % ne sont accessibles qu'aux abonn?s.

Les ?changes commerciaux dans le jeu sont r?gl?s avec la monnaie de Dofus, le Kama (dont le symbole est un K doublement barr? horizontalement). Cependant, il est toujours possible de faire du troc par un syst?me d'?change directement entre 2 joueurs.

						</p>
						
					</section>
					<section>
						<header>
							<h3>Lien:</h3><a href="http://www.dofus.com/fr"  alt="" />Dofus</a>
						</header>
						
					</section>
				</article>
			</div>
		</div>
		<hr />
		<div class="row">

		</div>
	</div>

</div>
