
<!-- Main -->
<div class="wrapper style1">

	<div class="container">
		<div class="row">
			<div class="4u" id="sidebar">
				<%- partial("_shared/sidebar") %>
			</div>
			<div class="8u skel-cell-mainContent" id="content">

				<article id="main">
					<header>
						<center><h2>Minecraft</h2></center>
					</header>
					
					<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>

					<h3>Introduction</h3>
					<p>
								Minecraft est un jeu ind?pendant m?langeant construction et aventure, cr?? par Markus Persson et d?velopp? depuis janvier 2012 par une petite ?quipe au sein de Mojang. Il permet ? ses joueurs de manipuler un monde en trois dimensions, compos? enti?rement de blocs ? d?truire, reposer et transformer. Jouable en solo ou en multijoueur, Minecraft permet d'explorer des cavernes sans fin, combattre divers ennemis, collecter des ressources et surtout b?tir des constructions immenses, parfois artistiques.
						
						
					</p>
					<section>
						<header>
							<h3>En general</h3>
						</header>
						<p>
				

Les modes solo et multijoueur peuvent ?tre soit jou?s sur une application t?l?charg?e, soit directement sur le navigateur web. Minecraft Classique est quant ? lui disponible gratuitement. Le d?veloppement de Minecraft a d?but? aux alentours du 10 mai 2009 et les toutes premi?res pr?-commandes ont ?t? valid?es vers le 13 juin.

Le 16 ao?t 2011, la version portable de Minecraft est sortie sur le Xperia Play. Une fois que l'exclusivit? "Sony" a expir?, le jeu est par la suite sorti sur Android le 7 octobre et sur iOS le 17 novembre de la m?me ann?e. Il co?te actuellement 6,99 ?. Au 10 janvier 2015, la version portable atteignait ? elle seule les 30 millions de ventes.

L'?dition Xbox, quant ? elle, est disponible depuis le 9 mai 2012 sur le Xbox Live Arcade pour 1600 points Microsoft (soit une vingtaine d'euros). Cette adaptation est d?velopp?e par 4J Studios et non par Mojang. Elle s'est vendue ? des millions d'exemplaires, et tous les pr?c?dents records de ventes sur Xbox ont ?t? battus. La version PlayStation, identique ? la version Xbox, sort le 17 d?cembre 2013.

Le 26 juin 2014, les ventes des versions Console sont si importantes qu'elles d?passent celle de la version PC. Le cumul des ventes de toutes les ?ditions fait de Minecraft le troisi?me jeu vid?o le plus vendu de tous les temps.

Le 15 septembre 2014, quelques temps apr?s la sortie des versions PlayStation 4 et Xbox One, Microsoft annonce racheter Mojang et donc Minecraft pour 2,5 milliards de dollars.

L'?dition portable Windows Phone est sortie le 10 d?cembre 2014.

L'?dition Nintendo Wii U fait son apparition sur le Nintendo eShop le 17 d?cembre 2015.						</p>
						
					</section>
					<section>
						<header>
							<h3>Lien:</h3><a href="http://minecraft-fr.gamepedia.com/Minecraft_Wiki"  alt="" />Minecraft wiki</a>
						</header>
						
					</section>
				</article>
			</div>
		</div>
		<hr />
		<div class="row">

		</div>
	</div>

</div>
