
<!-- Main -->
<div class="wrapper style1">

	<div class="container">
		<div class="row">
			<div class="4u" id="sidebar">
				<%- partial("_shared/sidebar") %>
			</div>
			<div class="8u skel-cell-mainContent" id="content">

				<article id="main">
					<header>
						<center><h2>Naruto Shippuden Storm 4</h2></center>
					</header>
					
					<a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>

					<h3>Introduction</h3>
					<p>
								Naruto Shipp?den: Ultimate Ninja Storm 4 est un jeu vid?o de combat adapt? du manga Naruto, d?velopp? par CyberConnect2 et ?dit? par Bandai Namco Games sur PlayStation 4, Xbox One et Windows en f?vrier 2016.
						
						
					</p>
					<section>
						<header>
							<h3>En general</h3>
						</header>
						<p>
				

L'histoire du jeu d?bute pendant la 2e partie de la grande guerre des ninjas d?s la fin de Naruto Shipp?den: Ultimate Ninja Storm 3 o? Naruto a d?truit le masque de Tobi et d?s la fin du combat entre Kabuto Mode Ermite contre Itachi Uchiwa (Edo Tensei) et Sasuke Uchiwa dans le DLC Full Burst.

Du chapitre 599 au tout dernier chapitre de l'histoire .

Cinq chapitres du jeu d?coupent la 2?me partie de la 4?me grande guerre des ninjas :

1er chapitre - Gen?se - Ce 1er chapitre raconte le combat entre Hashirama et Madara .

2?me chapitre - Deux guerriers in?gal?s - Ce 2?me chapitre raconte la suite de la 4?me grande guerre des ninjas avec l'identit? r?v?l?e de Tobi et le retour d'Orochimaru . Il racontera aussi le combat contre Jubi et le retour des 4 hokages .

3?me chapitre : Le front uni - Ce 3?me chapitre raconte la suite du combat contre Jubi avec celui de la naissance du r?ceptacle de Jubi : Obito Uchiwa .

4?me chapitre : L'ultime bataille - Ce 4?me et avant-dernier chapitre nous racontera le combat contre Madara en mode Ermite Rikudo et l'ultime affrontement contre la d?esse Kaguya Otsutsuki .

5?me chapitre : Une nouvelle vie - Ce 5?me et dernier chapitre conclut le combat final entre Naruto et Sasuke et la fin du manga .
						</p>
						
					</section>
					<section>
						<header>
							<h3>Lien:</h3><a href="https://www.bandainamcoent.fr/"  alt="" />Studio Bandai</a>
						</header>
						
					</section>
				</article>
			</div>
		</div>
		<hr />
		<div class="row">

		</div>
	</div>

</div>
